# Web Framework
Flask==3.0.3

# Flask Extensions
Werkzeug==3.0.3
itsdangerous==2.2.0

# HTTP Client
requests==2.25.1
aiohttp==3.9.5
aiohttp-retry==2.8.3
async-timeout==4.0.3

# Authentication and Security
cryptography==3.4.8
PyJWT==2.3.0
oauthlib==3.2.0
SecretStorage==3.3.1

# Twilio
twilio==9.2.3

# Google API
google-api-python-client==2.78.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0

# Natural Language Processing
spacy==3.6.0
# Download spaCy's language model in your environment:
# python -m spacy download en_core_web_sm

# Utilities
attrs==23.2.0
more-itertools==8.10.0
pycairo==1.20.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2022.1
yarl==1.9.4

# For handling forms and templates
Jinja2==3.1.4
MarkupSafe==2.1.5

# For testing and debugging
pytest==7.4.2

# Optional: For rate limiting
flask-limiter==2.3.0

# Optional: For environment management
python-dotenv==1.0.0
